{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": false,
	"vueIndentScriptAndStyle": false,

	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": [
		"^(react|react-dom)$",
		"^@?\\w",
		"^~/(assets|styles)/.*$",
		"^~/.+$",
		"^[./]",
		"^type .*"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
